/* YourComponent.css */

.shadowed-grid {
    box-shadow: 5px 5px 20px 1px #000000;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*transition: box-shadow 0.3s ease-in-out; !* Optional: Add a transition effect for smooth changes *!*/
}

/* Add more styles as needed */
